body {
  margin: 0;
  background: black;
  height: 500vh; /* allows scrolling */
  font-family: Arial, sans-serif;
}

.scroll-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100vh;
}
